,<style>
    footer{
    background-color: #CDE8E5;
    text-align: center;
    height: fit-content;
    }
    p{
        margin: 0.6%;
    }
</style>
<footer>
    <p>Created by Aliens!!</p>
</footer>