<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <!--Content Area-->
    <div id="content-div" class="page">
        <h3 style="text-align: center;">Content yet to be added!</h3>
    </div>
    <!--Content Area Ends-->
    <%- include("partials/footer.ejs") %>
</body>
</html>