<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Blogs</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <!--Content Area-->
    <div id="content-div" class="page">
        <div id="post-view">
            <ul>
                <% for(let k in posts){%>
                    <li><a href="/blog/dv?p-title=<%= k %>"><%= k %></a></li>
                <%}; %>
            </ul>
        </div>
    </div>
    <!--Content Area Ends-->
    <%- include("partials/footer.ejs") %>
</body>
</html>