html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    background-color: #EEF7FF;

    display: flex;
    flex-direction: column;
}
#content-div {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
  }